* {
  padding: 0;
  box-sizing: border-box;
}

/* navbar */

.logo {
  font-size: 38px;
  font-family: "PT Sans", sans-serif;;
}

.navbar {
  background-color: white;
  height: 7vw;
  border: solid 3px red;
  border-radius: 5px;
}

.navbar ul {
  display: flex;
}
.navbar a {
  padding: 10px;
  margin: 0 20px;
  font-size: 16px;
}

.nav-container {
  margin: 0 auto;
  padding: 0 40px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: grey;
}

.navbar button {
  height: 40px;
  background-color: purple;
  color: white;
  width: 7vw;
  border-radius: 20px;
  border: 0;
}

/* main section */

.main-container {
  height: 76vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: solid 3px red;
  border-radius: 5px;
}

.rhs img {
  width: 70%;
}

.lhs {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
  padding: 30px;
}

.lhs h1 {
  font-size: 60px;
  font-family: "PT Sans", sans-serif;
}

.rhs {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-2 {
  height: 40px;
  background-color: white;
  color: purple;
  width: 11vw;
  border-radius: 20px;
  border: solid 1px grey;
  font-size: 100%;
}

.lhs p {
  width: 35vw;
}

/*footer */

.footer-container {
  height: 7vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: solid 3px red;
  border-radius: 5px;
}

.icons,
.footer-txt {
  padding: 10vw;
  color: gray;
}
